* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #2C2B5E;
  color: white;
  padding: 20px;
  width: 250px;
  flex-shrink: 0;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar li.active {
  font-weight: bold;
  color: #ECECF7;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header nav {
  background-color: #3C3B7E;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  padding: 20px;
  background-color: #F4F4F9;
}

.main-content h3 {
  font-size: 18px;
  color: #3C3B7E;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Add space between input and button */
}

form input[type="text"] {
  flex: 1;
  /* Input takes up available space */
  padding: 10px;
  font-size: 14px;
}

buttondefault {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

buttondefault:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}


footer {
  background-color: #2C2B5E;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}




@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .header nav {
    justify-content: center;
  }
}